/*  
   LINK AI CSS
*/
/* @import url(media.css); */
/* @import url(12bool.css); */
/* @import url(useful.css); */

/* 
    RESET
*/

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* 
    CONTAINER
*/
.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* 
    GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 100vh;
}

header {
    height: 60px;
    line-height: 60px;
}

.container-grid {
    height: calc(100%- 120px);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    height: 80px;
    background-color: gold;
    border: 1px solid black;
    text-align: center;
    line-height: 80px;
}

.cell.active{
    background-color: lightblue;
}

footer {
    height: 60px;
}

.easy{
    width:10%;
}

.medium{
    width: calc(100% / 9);
}

.hard{
    width: 20%;
}